body {
  text-align: center;
  margin: 0 auto;
}

.App-footer {
text-align: center;
margin-top: 30px 0;
color:darkslateblue;
}
.App-footer a {
 
  color:darkslateblue;
}
.container {
  border: 1px solid purple;
 border-radius: 5px;
  padding: 5px;
}