body {
  text-align: center;
  margin: 0 auto;
  background: #C4DDFF;
}

.App-footer {
text-align: center;
margin-top: 40px;
color:darkslateblue;
}
.App-footer a {
  color:darkslateblue;
}
.container {
  background-color: #ffff;
 border-radius: 5px;
  padding: 5px;
}