body {
  /* text-align: center; */
  margin: 0 auto;
  background: #C4DDFF;
  max-width: 600px;
  hyphens:auto;
}
h1, h2, h3, h4 {
  text-align: center;
}
h1 {
  font-size: 36px;
  
}

.App-footer {
text-align: center;
margin-top: 40px;
color: #94bdf6;
}
.App-footer a {
  color: #94bdf6;
}
.container {
  background-color: #ffff;
 border-radius: 5px;
  padding: 5px;
}