h1, h2, h3 {
  color:  #94bdf6;
}
h1 {
  font-size: 32px;
}
label {
  color:  #94bdf6;
  font-size: 20px;
  font-weight: 600;
}

.Dictionary section { 
  background-color: #fff;
  font-weight: 500;
  border-radius: 4px;
  color: #C4DDFF;
  padding: 15px;
  margin: 0 5px 20px 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.Dictionary input .searchBar {
border: 1px solid #ddd;
border-radius: 5px;
color: #444;
}
.Dictionary input .btn {
  color: #fff;
}

.Dictionary .hint{
  font-size: 16px;
  text-align: center;
  color:  #94bdf6

}
.btn {
  padding: 10px;
  background-color: #94bdf6;
  transition: all 150ms ease-in-out;
  color: #fff;
  margin: 5px;
  }
  
  .btn:hover {
   background-color: rgb(196, 221, 255, 0.7);
  }