
.Meaning {
  background-blend-mode: lighten;
  border-radius: 5px;
  color:  #94bdf6;
  line-height: 1.5;
  font-size: 18px;
}
.Meaning h3 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}
.Meaning p {
  margin-left: 10px;
}