.fa-circle-play {
font-size: 40px;
color: #94bdf6;
transition: all 150ms ease-in-out;
}
.fa-circle-play:hover {
  cursor: pointer;
  color: rgb(196, 221, 255, 0.7);
}

.Phonetics { 
  text-align: center; 
}