/* div .Results {
  background: #fff;
  color: #94bdf6;
} */

.Results  h2 {
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}



@media (max-width: 770px) {
  .Results h2 {
    font-size: 25px;
    hyphens:auto;
    text-align: center;
  }
}
